singularity {
    enabled  = true
    cacheDir = '/nfsmounts/container'
}

process {
    resourceLimits = [
        memory: 1992.GB,
        cpus: 128,
        time: 720.h
    ]
    executor = 'slurm'
    queue    = 'preempt'
    scratch  = 'true'
}

executor {
    name = 'slurm'
    queueSize = 1000
    pollInterval = '30 sec'
}
